<div class="container-fluid">
 <div class="col-4 p-3">
   <div class="h4">
    <h2>Creación de Clientes</h2>
  </div>
   <form
     [formGroup]="clientForm"
     (ngSubmit)="!clientForm.invalid && crearCliente()"
   >
     <div class="form-group mx-sm-3 mb-2">
       <label for="name" class="required"> Nombre Completo </label> <br>
       <input
         novalidate
         id="name"
         class="form-control"
         formControlName="nombre"
         placeholder="Nombre Completo"
       />
       <div
         class="alert alert-danger alert-dismissible fade show"
         *ngIf="
           clientForm.get('nombre')?.hasError('required') &&
           clientForm.get('nombre')?.touched
         "
       >
         Nombre requerido
       </div>
       <div
         class="alert alert-danger alert-dismissible fade show"
         *ngIf="
           clientForm.get('nombre')?.hasError('minlength') &&
           clientForm.get('nombre')?.touched
         "
       >
         Nombre demasiado corto. Debe tener al menos 2 carácteres
       </div>
     </div>

     <div class="form-group mx-sm-3 mb-2">
       <label for="address" class="required"> Dirección </label> <br>
       <input
         id="address"
         type="text"
         class="form-control"
         formControlName="direccion"
         placeholder="Dirección"
       />

       <div
         class="alert alert-danger alert-dismissible fade show"
         *ngIf="
           clientForm.get('direccion')?.hasError('required') &&
           clientForm.get('direccion')?.touched
         "
       >
         Dirección Requerida
       </div>
     </div>

     <div class="form-group mx-sm-3 mb-2">
       <label for="email" class="required"> Email </label> <br>
       <input
         id="email"
         type="text"
         class="form-control"
         formControlName="email"
         placeholder="Email"
       />
       <div
         class="alert alert-danger alert-dismissible fade show"
         *ngIf="
           clientForm.get('email')?.hasError('required') &&
           clientForm.get('email')?.touched
         "
       >
         Email Requerido
       </div>
       <div
         class="alert alert-danger alert-dismissible fade show"
         *ngIf="
           clientForm.get('email')?.touched &&
           clientForm.get('email')?.hasError('email')
         "
       >
         Formato incorrecto de email. Debe incluir @
       </div>
     </div>

     <div class="row m-3 small">
       <p>* Campos Requeridos </p>
     </div>

     <div class="row m-3">
       <button
         type="submit"
         class="btn btn-success"
         [disabled]="!clientForm.valid"
       >
         Create
       </button>

     </div>
   </form>
 </div>
</div>