table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 15px;
}

th, td{
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th{
    background-color: #63c766;
    color: black;
}

