<h2> Lista de Clientes </h2>

<table>
    <thead>
        <tr>
            <th>ID del usuario</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>#{{cliente.id}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.email}}</td>
        </tr>
    </tbody>
</table>

<p *ngIf="clientes.length === 0">No hay clientes todavía</p>
